<div class="login">
  <div class="childLogin p-4 fadeInDown">
    <div class="logo fadeIn">
      <img src="../../../assets/img/correo_argentino_logo_full_small.png" alt="">
    </div>

    <form [formGroup]="ingresarForm" class="fadeIn">

      <div class="mt-5"></div>

      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" placeholder="Usuario">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <div class="dflex">
          <input [type]="obtenerTipoInput()" matInput formControlName="password" placeholder="Contraseña">
          <span class="material-symbolsd" (click)="alternarVisibilidad()">
            <mat-icon>{{ mostrarPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </span>
        </div>
      </mat-form-field>

      @if(ingresarForm.valid == true){
      <div class="botones">

        @if (loaderBtn) {
        <button class="btn btn-success w-100" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Cargando...
        </button>
        }@else{
        <button class="btn btn-rounded btn-success w-100" (click)="validarForm()">Ingresar</button>
        }
      </div>
      }@else {
      <button type="submit" class="btn btn-rounded btn-dark w-100" (click)="noValidoForm()">Ingresar</button>
      }

    </form> 

  </div>
</div>